---
import Layout from '../layouts/Layout.astro';
import TermsConditions from '../components/TermsConditions.astro';
let page = await fetch('https://tompataki.com/wp-json/wp/v2/pages/34?_embed&acf_format=standard').then((r) => r.json());
let projects = await fetch('https://tompataki.com/wp-json/wp/v2/special_projects?_embed&per_page=100&acf_format=standard').then((r) => r.json());
---

<Layout bodyClass="page-template-page-special">

    <section id="special-projects">
        <h1>{page.title.rendered}</h1>
        <ul>
            {
                projects.map((project) => 
                    <li class="play">
                        <a href={project.link}>
                            <p>{project.title.rendered}</p>
                        </a>
                    </li>
                )
            }
        </ul>
        <div class="grid">
            {
                projects.map((project) => (
                    project.id == 80 ? 
                        <div class="play"> 
                            <div class={`grid-item special-project-id-${project.id}`} style={`--aspect-ratio: 16/9.8; background-image: url(${project._embedded['wp:featuredmedia'][0].source_url});`}>
                                <div class="project-logo">
                                    <img src={project.acf.logo} alt="logo" />
                                </div>
                                <div class="grid-item-overlay" style={`background-image: url(${project.acf.overlay_image})`}></div>
                            </div>
                            <a href={project.acf.vimeo_url}></a>
                        </div>
                    :
                        <a href={project.id == 78 ? '#' : `/special_projects/${project.slug}`} class={`grid-item special-project-id-${project.id}`} style={`--aspect-ratio: 16/9.8; background-image: url(${project._embedded['wp:featuredmedia'][0].source_url});`}>
                            <div class="project-logo">
                                <img src={project.acf.logo} alt="logo" />
                            </div>
                            <div class="grid-item-overlay" style={`background-image: url(${project.acf.overlay_image})`}></div>
                        </a>
                ))
            }
        </div>
    </section>

    <TermsConditions />
    
</Layout>
