---
import { Image } from "astro:assets";
import playWhite from '../assets/play_white.png';
import VimeoLightbox from "../components/VimeoLightbox.astro";
interface Props {
    title: string;
	image: string;
	director: string;
	videoLogo: string;
    vimeoUrl: string;
}

const {title, image, director, videoLogo, vimeoUrl} = Astro.props;
---

<div class="swiper-slide" style={`background-image: url(${image});`}>
    <div class="index-slider-info">
        <p><span>director </span>{director}</p>
        <Image src={videoLogo} alt={title} width="400" height="50" sizes="(max-width: 600px) 400px, 500px" loading="lazy" />
        <p><span class="title">{title}</span></p>
        <div class="play">
            <VimeoLightbox url={`${vimeoUrl}?dnt=1`}>
                <Image
                    src={playWhite.src}
                    alt="Play"
                    width="32"
                    height="32"
                    sizes="(max-width: 35px) 32px, 32px"
                    loading="lazy"
                />
            </VimeoLightbox>
        </div>
    </div>
</div>

<style is:inline>
    .swiper-navigation-icon {
        display: none;
    }
</style>