---
import { Image } from "astro:assets";
import playWhite from '../assets/play_white.png';
interface Props {
    id: string;
    title: string;
    shortVimeoId?: string;
	director: string;
	videoLogo: string;
    vimeoUrl: string;
    muxId?: string;
}

const {id, title, shortVimeoId, director, videoLogo, vimeoUrl, muxId} = Astro.props;
---

<div class="swiper-slide" style={`background-image: url('https://vumbnail.com/${shortVimeoId}_large.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;`}>
    {
        <iframe
            class="video showreel player nomargin"
            id={`vimeo_player-${id}`}
            src={`//player.vimeo.com/video/${shortVimeoId}?api=1&player_id=vimeo_player&autoplay=1&loop=1&color=ffffff&autopause=0&muted=1&background=1&dnt=1`}
            frameborder="0"
            webkitallowfullscreen
            mozallowfullscreen
            allowfullscreen
            allow="autoplay"
            data-ready="true"
            loading="eager"
        ></iframe>
    }
    <div class="index-slider-info">
        <p><span>director </span>{director}</p>
        <Image src={videoLogo} alt={title} width="800" height="100" sizes="(max-width: 1000px) 500px, 800px" loading="lazy" />
        <p><span class="title" set:html={title}></span></p>
        <div class="play">
            <Image src={playWhite.src} alt="Play" width="53" height="53" sizes="(max-width: 55px) 53px, 53px" loading="lazy" />
            <a href={`${vimeoUrl}?dnt=1`}></a>
        </div>
    </div>
</div>

<style>
.index-slider-info:hover {
    img, .play {
        transform: scale(1.05);
        transition: transform .3s ease;
    }
}
</style>