---
import { Image } from "astro:assets";
import playBlack from '../assets/play_black-solid.png';
import playWhite from '../assets/play_white-solid.png';
interface Props {
	id: string;
	image: string;
	director: string;
	videoUrl: string;
	title: string;
	subtitle: string;
}

const blackPlay = 68;
const { id, image, director, videoUrl, title, subtitle} = Astro.props;
---
<div class={`grid-item reel-id-${id}`} id="vimeo-video" style={`--aspect-ratio: 16/9; background-image: url(${image});`}>
    <div id="grid-details">
        <p>directed by
            <span>{director}</span>
        </p>
        <h2><a href={`${videoUrl}?dnt=1`}>{title}</a></h2>
        <div class="play">
                <Image src={id==blackPlay ? playBlack.src : playWhite.src} alt="Play" width="45" height="45" sizes="(max-width: 50px) 45px, 45px" loading="lazy" />
            <a href={videoUrl}></a>
        </div>
        <p>{subtitle}</p>
    </div>
</div>