---
import { Image } from "astro:assets";
import playWhite from '../assets/play_white.png';
import VimeoLightbox from "../components/VimeoLightbox.astro";
interface Props {
    id: string;
    title: string;
    shortVimeoId?: string;
	director: string;
	videoLogo: string;
    vimeoUrl: string;
    muxId?: string;
}

const {id, title, shortVimeoId, director, videoLogo, vimeoUrl, muxId} = Astro.props;
---

<div class="swiper-slide" style={``}>
    <Image src={`https://vumbnail.com/${shortVimeoId}_large.jpg`} class="thumbnailImage" alt={title} width="2560" height="1064" />
    {
        <iframe
            class="video showreel player nomargin"
            id={`vimeo_player-${id}`}
            src={`//player.vimeo.com/video/${shortVimeoId}?api=1&player_id=vimeo_player&autoplay=1&loop=1&color=ffffff&autopause=0&muted=1&background=1&dnt=1`}
            frameborder="0"
            webkitallowfullscreen
            mozallowfullscreen
            allowfullscreen
            allow="autoplay"
            data-ready="true"
            loading="eager"
        ></iframe>
    }
    <div class="index-slider-info">
        <p><span>director </span>{director}</p>
        <img src={videoLogo} alt={title} sizes="(max-width: 1000px) 500px, 800px" loading="lazy" />
        <p><span class="title">{title}</span></p>
        <div class="play">
            <VimeoLightbox url={`${vimeoUrl}?dnt=1`}>
                <Image
                    src={playWhite.src}
                    alt="Play"
                    width="53"
                    height="53"
                    sizes="(max-width: 55px) 53px, 53px"
                    loading="lazy"
                />
            </VimeoLightbox>
        </div>
    </div>
</div>

<style>
.index-slider-info:hover {
    img, .play {
        transform: scale(1.05);
        transition: transform .3s ease;
    }
}
.thumbnailImage {
    width: 100%;
    height: auto;
    aspect-ratio: 2.406 / 1;
    object-fit: cover;
}
</style>